<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <%= link_to 'はじめる', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<div class="cover_message">
  <p>COPY MUSICとは、自分がコピーできるようになった曲を保存しておく楽器初心者の為のサービスです。</p>
  <br>
  <p>楽器初心者を卒業するには、好きな曲をたくさんコピーすることが大切です。</p>
  <br>
  <p>まずは１曲、好きな曲をコピーしてみましょう！</p>
</div>
