<% if logged_in? %>
  <p>ログインユーザー名</p><%= current_user.name %>
<% else %>
<div class="center jumbotron">
  <div class="container toppage" >
    <div class="text-center">
      <h1>COPYMUSICへようこそ</h1>
      <br>
      <p>コピーできるようになった曲を保存しておく楽器初心者の為のサービスです。</p>
      <p>同じ曲をコピーしている他のユーザーをフォローすることができます。</p>
      <p>フォローすることで自分の知らない音楽を発見できます。</p>
      <p>好きな曲をたくさんコピーして、楽しいミュージックライフを手に入れましょう！</p>
      <%= link_to 'はじめる', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>
<% end %>