<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <a href="" class="btn btn-primary btn-lg">はじめる</a>
      </div>
    </div>
  </div>
<% end %>
<div class="cover_message">
  <p>Copymusicとは、自分がコピーできるようになった曲を保存しておく楽器初心者の為のサービスです。</p>
  <p>楽器初心者を卒業するには、好きな曲をたくさんコピーすることが大切です。</p>
  <p>まずは１曲、好きな曲をコピーしてみましょう！</p>
</div>
