@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
  font-size: 14px;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: white;
}
.navbar-header img {
  margin-top: 10px;
  height: 35px;
}

/* jumbotron*/
.jumbotron {
  background: url("/images/copymusic_cover.jpg") center center no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

.media-object {
    display: inline-block;
}

.container .toppage{
  color: white;
}


.panel-body .p{
  text-align: center;
}

ul {
  list-style: none;
}

.music_info{
  border: inset 10px #ff0000;
  margin: 30px 30px;
  padding: 10px;
  font-size: medium;
}

.music_info_li{
  border-bottom: ridge;
}