@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: white;
}
.navbar-header img {
  margin-top: 10px;
  height: 35px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 700px;
  background: url("/images/copymusic_cover.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents  a {
  margin: 0 0 5px 0;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.15em;
  font-size: 35px;
}

.cover .cover-inner .cover-contents p {
  margin: 50px 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: medium
}

.cover_message{
  color: #777;
  font-weight: 200;
  text-align: center;
}