<% if @artists %>
  <% @artists.each do |artist| %>
    <ul class="list-group">
      <li class="list-group-item">
      <%= link_to artist[:name], artist_musics_path(artist_id: artist[:id], keyword: @artist) %>
      </li>
    </ul>
  <% end %>
<% end %>
