<% @albums.each do |album| %>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to album.title, album_musics_path(album_id: album.id, artist_id: @artist.id, keyword: @album) %>
  </li>
</ul>
<% end %>
