<div class="music_info"><h1>ミュージック詳細</h1>
    <div class="music_info_li">アーティスト名 : <%= @music.artist_name %></div>
    <div class="music_info_li">アルバム名 : <%= @music.album_name %></div>
    <div class="music_info_li">曲名 : <%= @music.name %></div>
</div>
